<p>user-login works!</p>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">User Login</button>

<div id="id01" class="modal">
  
  <form [formGroup]="myForm" class="modal-content animate" action="/action_page.php" method="post">

    <div class="container">
      <label ><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [value]="e" formControlName="email" >
      <p *ngIf="email.touched&&email.invalid">
        <span class="alert alert-danger" *ngIf="email.errors.required"> Username cannot be empty</span>
        <span class="alert alert-danger" *ngIf="email.errors.pattern"> This is not a correct username</span>
    </p>

      <label ><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [value]="p" formControlName="pass"  >
      <p *ngIf="pass.touched&&pass.invalid">
        <span class="alert alert-danger" *ngIf="pass.errors.required"> Password cannot be empty</span>
       
    </p>    
      <button type="submit" (click)="login()">Login</button>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
    </div>
    <div *ngIf="result">
      {{result}}
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw"> <a href="#">ForgotPassword?</a></span>
      <span class="psw">Don't have an account? <a href="#">Sign Up</a></span>
    </div>
    
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>