<div *ngIf="(info | json) !== '{}'">
    <table>
        <tr *ngFor="let row of rows">
            <td *ngFor="let column of columns">
                <button [class] = "seatObject[row + column].type" [ngClass]= "{'Y': seatObject[row + column].clicked, 'X' : seatObject[row + column].clicked}" (click)="handleSeatClick(seatObject[row + column], row + column)"  [disabled] = "seatObject[row + column].booked" >{{row + column}}</button>
            </td>
        </tr>
    </table>

    <p *ngIf="totalFare > 0">
        Total Fare : {{totalFare}}
    </p>

    SeatCount : {{count - seatCount}}

    <div>
        <button [disabled] = "(count - seatCount) !== 0">Continue</button>
    </div>
</div>
