<p>login works!</p>

<h2>Modal Login Form</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <!-- <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
    </div> -->
    <div class="logintoggle" >
      <div style=" float:right; margin:5px; width:45%;"><button type="button" >User Login</button></div>
      <div style=" float:right; margin:5px; width:45%;"><button type="button" > Admin Login</button></div>
    </div>
  
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>


    <!-- <div id="id01" class="modal">
  
        <form class="modal-content animate" action="/action_page.php" method="post">
      
            <div class="topnav">
                <div class="buttons">
                  <a href="./FlightSelect.html">User Login</a>&nbsp;&nbsp;
                  <a href="UserLogin.html">Admin Login</a>&nbsp;&nbsp;
              
                </div>
              
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span> 
          </div>
  
      </div> -->
      <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script>