
<body>
    <div class="maindiv">
    
    <form  [formGroup]="myForm" class="modal-content animate">
     
        <div class="form-group">
            <label for="Email ID"><b>Email ID</b></label>
            <input type="text"  class="form-control" placeholder="Enter Username" formControlName="email" >
            <p *ngIf="email.touched&&email.invalid">
                <span class="alert alert-danger" *ngIf="email.errors.required"> Email cannot be empty</span>
                <span class="alert alert-danger" *ngIf="email.errors.pattern"> This is not a correct email</span>
            </p>
          </div>
    <!-- <label>Email ID</label>
    <input type="text"  formControlName="email"/><br/>
    <p *ngIf="email.touched&&email.invalid">
        <span class="alert alert-danger" *ngIf="email.errors.required"> Email cannot be empty</span>
        <span class="alert alert-danger" *ngIf="email.errors.pattern"> This is not a correct email</span>
    </p> -->
    <div class="form-group">
        <label for="Password"><b>Password</b></label>
        <input type="password"  class="form-control" placeholder="Enter Username"  formControlName="pass" >
        <p *ngIf="pass.touched&&pass.invalid">
            <span class="alert alert-danger" *ngIf="pass.errors.required"> Password cannot be empty</span>
           
        </p>  
      </div>
    <!-- <label>Password</label>
                  <input type="password"  formControlName="pass"/><br/> 
                  <p *ngIf="pass.touched&&pass.invalid">
                    <span class="alert alert-danger" *ngIf="pass.errors.required"> Password cannot be empty</span>
                   
                </p>     -->
    <button  (click)="change()" class="btn btn-primary" style="float: right; margin: 2%;">Change Password</button> 

</form>
</div>
</body>