<!-- <app-forgot-password></app-forgot-password> 
<app-user-registeration></app-user-registeration> 

 <app-user-login></app-user-login>  
  <app-admin-login></app-admin-login>
  <app-flight-details></app-flight-details>
 <app-add-flight></app-add-flight>


<app-show-passengers></app-show-passengers>
 <app-change-password></app-change-password> 

<app-passengers></app-passengers> 
<app-details-confirmation></app-details-confirmation>

 <app-viewbookings></app-viewbookings>
<app-cancelticket></app-cancelticket>
<app-flight-search></app-flight-search>
<app-navbarlogin></app-navbarlogin>

<app-printticket></app-printticket>
 -->

 <app-navbaradmin></app-navbaradmin>
 <app-navbarhome></app-navbarhome>
 <app-navbaruser></app-navbaruser>
 <app-add-trip></app-add-trip>
<app-edit-trip></app-edit-trip>
<app-flight-details></app-flight-details> 

