<p>change-password works!</p>
<form [formGroup]="myForm">
    <label>Email ID</label>
    <input type="text"  formControlName="email"/><br/>
    <p *ngIf="email.touched&&email.invalid">
        <span class="alert alert-danger" *ngIf="email.errors.required"> Email cannot be empty</span>
        <span class="alert alert-danger" *ngIf="email.errors.pattern"> This is not a correct email</span>
    </p>
    <label>Password</label>
                  <input type="password"  formControlName="pass"/><br/> 
                  <p *ngIf="pass.touched&&pass.invalid">
                    <span class="alert alert-danger" *ngIf="pass.errors.required"> Password cannot be empty</span>
                   
                </p>    
</form>
<button  (click)="change()" class="btn btn-primary" >Change Password</button> 