
<meta name="viewport" content="width=device-width, initial-scale=1">


               <h2>Add flight details</h2>
<form [formGroup]="myForm" class="alert alert-success" style="margin: 10px; padding: 10px;">

  <label >From</label><br>
  <input type="text" formControlName="from" ><br>
  <p *ngIf="from.touched&&from.invalid">
    <span class="alert alert-danger" *ngIf="from.errors.required"> This cannot be empty</span>
</p>
  <label >TO</label><br>
  <input type="text" formControlName="to" ><br>
  <p *ngIf="from.touched&&from.invalid">
    <span class="alert alert-danger" *ngIf="from.errors.required"> This cannot be empty</span>
</p>
</form>
<section>
    <label for="Cabin Type">Cabin type</label><br>
   
      <ul class="checkbox-items">
        <li *ngFor="let item of FairDataList">
          <input type="checkbox" name="" id="" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
        </li>
      </ul>
      <span  class="alert alert-danger" *ngIf="ct">Select atleast one cabin </span>
   <p *ngIf="e">
    <label>Economy Fair</label><input type="text" [(ngModel)]="flight.EconomyClassFair"/><br>
   
   </p>
  <p *ngIf="b">
    <label>Business Fair</label><input type="text" [(ngModel)]="flight.BusinessClassFair"/><br>
   
  </p>
  <p *ngIf="f">
    <label>First Class Fair</label><input type="text" [(ngModel)]="flight.FirstClassFair" /><br>
    
  </p>

  
  
    <h6>No of Selected Cabins: {{FairItemsList.length}} </h6>
  <div class="row">

    <div class="col-md-4">
      <h4>List of Days</h4>

      <ul class="checkbox-items">
        <li *ngFor="let item of checkboxesDataList">
          <input type="checkbox" name="" id="" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
        </li>
        <span  class="alert alert-danger" *ngIf="td">Select atleast one day </span>
      </ul>
      <h6>No of Selected Days: {{selectedItemsList.length}} </h6>
    </div>

  </div>
  
  <button type="button" (click)="add()">Add Flight</button>
</section>



