<div *ngIf="(info | json) !== '{}' || (info1 | json) !== '{}'">
    <table>
        <tr *ngFor="let row of rows">
            <td *ngFor="let column of columns">
                <button [class] = "seatObject[row + column].type" [ngClass]= "{'Y': seatObject[row + column].clicked, 'X' : seatObject[row + column].clicked}" (click)="handleSeatClick(seatObject[row + column], row + column)"  [disabled] = "seatObject[row + column].booked" >{{row + column}}</button>
            </td>
        </tr>
    </table>

    SeatCount : {{count - seatCount}}

    <table>
        <tr *ngFor="let row of rows1">
            <td *ngFor="let column of columns1">
                <button [class] = "seatObject1[row + column].type" [ngClass]= "{'Y': seatObject1[row + column].clicked, 'X' : seatObject1[row + column].clicked}" (click)="handleSeatClick1(seatObject1[row + column], row + column)"  [disabled] = "seatObject1[row + column].booked" >{{row + column}}</button>
            </td>
        </tr>
    </table>

    SeatCount : {{count1 - seatCount1}}

    <p>
        Overall Fare : {{overallFare}}
    </p>

    <div>
        <button [disabled] = "((count - seatCount) !== 0 || (count1 - seatCount1) !== 0)" (click)="onClick()">Continue</button>
    </div>
</div>