button{
    min-width: 5vw;
}

.X{

}



.B{
    background-color: darkkhaki;
}

.E{
    background-color: darkseagreen;
}

.F{
    background-color: darkslategray;
}

.Y{
    background-color: darkgreen;
}
