.maindiv{
    margin: auto;
    width: 50%;
    padding: 2%;
}
.modal-content{
    padding: 5%;
}
body{
    margin: auto;
    background-image: linear-gradient(rgb(82, 172, 245),darkblue);
  
    background-color: rgb(82, 172, 245);
}