<p>forgot-password works!</p>
<form [formGroup]="myForm" class="modal-content animate">
<div class="container">
    <label ><b>Username</b></label>
    <input type="text" placeholder="Enter Username" [value]="e" formControlName="email" >
    <p *ngIf="email.touched&&email.invalid">
      <span class="alert alert-danger" *ngIf="email.errors.required"> Username cannot be empty</span>
      <span class="alert alert-danger" *ngIf="email.errors.pattern"> This is not a correct username</span>
  </p>

    <label ><b>Security Question:<br>What is your nick name?</b></label>
    <input type="text" placeholder="Enter Answer" [value]="p" formControlName="security"  >
    <p *ngIf="security.touched&&security.invalid">
      <span class="alert alert-danger" *ngIf="security.errors.required">Cannot be empty</span>
     
  </p>    
    <button type="submit" (click)="proceed()" >Proceed</button><br>
    <span *ngIf="c">{{c}}</span>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>
</form>